Django~=5.0.10
psycopg2-binary
mssql-django
django-cors-headers
djangorestframework~=3.15.2
djangorestframework_simplejwt
channels~=4.2.0
daphne
boto3~=1.37.5
botocore~=1.37.5
djangorestframework-simplejwt~=5.3.1
PyJWT~=2.10.1
asgiref~=3.8.1
requests